#Persoon{
    background-image: url(Images/cart_pokemon01.gif);
    background-color: ;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
   
    
    
    
    
}
html{
     height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
}
article{
    
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url(Images/world.jpg);
    z-index: -5;
    
    
    
    
}
h1{
    font-size: 2.5em;
    font: italic bold 42px/30px Courier, monospace;
    width: 20%;
    top: 20px;
    color: crimson;
    position: relative;
    margin: auto;
    display: block;
}
#Pokeball{
    background-image: url(Images/pokeball.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    left: 55%;
}


#Score{
    
    width: 120px;
    height: 20px;
    top: 0;
    right: 150;
    background-color: palevioletred;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    border-bottom-right-radius: 0;
    padding-left: 3px;
    text-align: center ;
    font-size: 15px;
    font-size: 15px;
    border-bottom-right-radius: 50px;
    
    
}

.Vijand{
    background-image: url(Images/enemy.gif);
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    
}


ul {
    z-index: 3;
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    
}
.Instructies ul{
    top: 170px;
    position: absolute;
    border-style: double;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    left: 14%;
    background-color: beige;
    background-position: center;
    border-left-color:  palevioletred;
    border-right-color:  palevioletred;
    border-top-color:  aquamarine;
    border-bottom-color:  aquamarine;
    padding: 30px 30px 30px 60px;
    margin: auto;
    width: 60%;
    display: block;
    
}

#InstructieKnop{
    position: absolute;
    font-size: 15px;
    border-bottom-left-radius: 50px;
    width: 120px;
    height: 20px;
    text-align: center;
    top: 0;
    right: 0;
}
#header{
    backface-visibility: visible;
}



#end{
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(Images/Over.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
    
    
}


#endKnop{
    
    font-family: serif;
    color: black;
    font-size-adjust: auto;
    text-decoration-line: underline;
    background-color: aliceblue;
    border-color: orange;
    font-size: 1em;
    font-size-adjust: auto;
    top: 63%;
    left: 42%;
    height: 9%;
    width: 15%;
    
    opacity: 1.5;
    display: block;
    position: absolute;
    border-top-left-radius: 15px ;
    border-top-right-radius:15px ;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    
    
    
    
}

p.pp{
    text-align: center;
    color: aqua;
    font-size: 1.3em;
    
}
#Pijla{
    background-image: url(Images/pijlOnder.png);
    background-color: ;
    width: 60px;
    height: 60px;
    top: 90%;
    left: 47%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#Pijlb{
    background-image: url(Images/pijlBoven.png);
    background-color: ;
    width: 60px;
    height: 60px;
    top: 79%;
    left: 47%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    
}
#Pijlc{
    background-image: url(Images/pijlRechts.png);
    background-color: ;
    width: 60px;
    height: 60px;
    top: 85%;
    left: 59%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#Pijld{
    background-image: url(Images/pijlLinks.png);
    background-color: ;
    width: 60px;
    height: 60px;
    top: 85%;
    left: 36%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
   @media only screen and (max-width: 900px){
    .modal-content {
        width: 100%;
    }
}