#Persoon{
    background-image: url(Images/cart_pokemon01.gif);
    background-color: ;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
   
    
    
    
    
}
html{
     height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    
    
}
article{
    
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url(Images/land.jpg);
    z-index: -5;
    
    
    
    
}
h1{
    font-size: 2.5em;
    font-family:  Snell Roundhand;
    top: 0;
    left: 40%;
    color: black;
    position: absolute;
}
#Pokeball{
    background-image: url(Images/pokeball.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 120px;
    left: 55%;
}


#Score{
    width: 120px;
    height: 20px;
    top: 0;
    right: 150;
    background-color: palevioletred;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    border-bottom-right-radius: 0;
    padding-left: 3px;
    text-align: 3px ;
    font-size: 15px;
    
    
}
#Redder{
    background-image: url(Images/redder.gif);
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
.Vijand{
    background-image: url(Images/cart_pokemon18.gif);
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    
}


ul {
    z-index: 3;
    font-family: serif;
    font-style: oblique;
    font-size: 20px;
    
}
.Instructies ul{
    top: 180px;
    position: absolute;
    border-style: double;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    left: 14%;
    background-color: beige;
    background-position: center;
    border-left-color:  palevioletred;
    border-right-color:  palevioletred;
    border-top-color:  aquamarine;
    border-bottom-color:  aquamarine;
    padding: 30px 30px 30px 60px;
    margin: auto;
    width: 60%;
    display: block;
}
#InstructieKnop{
    position: absolute;
    font-size: 15px;
    border-bottom-left-radius: 50px;
    width: 120px;
    height: 20px;
    left: 93%;
    right: 0%;
    text-align: center;
}
#header{
    backface-visibility: visible;
}
#Start{
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
}
#StartKnop{
    font-size: 25px;
    font-family: serif;
    color: white;
    background-image: url(Images/starterPokemon.jpg);
    border-color: yellow;
    background-size: 10em;
    top: 40%;
    left: 20%;
    height: 25%;
    width: 59%;
    opacity: 1.5;
    display:block;
    position: absolute;
    border-top-left-radius: 15px ;
    border-top-right-radius:15px ;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    
}
#ScoreDiamant{
    
    width: 120px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 0px;
    color: black;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    border-bottom-right-radius: 50px;
    padding-left: 3px;
    text-align: 3px ;
    font-size: 15px;
}
.Diamant{
    background-image: url(Images/dia.gif);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    
}

.Evolutie
{
    background-image: url(Images/giphy.gif);
}
   @media only screen and (max-width: 900px){
    .modal-content {
        width: 100%;
    }
}